@mixin linkTileBox($color: #fff) {
  >ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: space-around;
    justify-content: flex-start;
    align-items: stretch;
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 2rem;

    >li {
      display: table;
      margin-bottom: 1.5rem;
      margin-right: 1.5rem;

      >a {
        display: table-cell;
        padding: 1.5rem;
        text-decoration: none;
        background: #7ea96e;
        color:#ffffff;
        border-radius: 5px;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}