@mixin linkTileBox_category($color: #fff) {
    >ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        //justify-content: space-around;
        justify-content: flex-start;
        align-items: stretch;
        font-size: 1.6rem;
        margin-left: 1rem;
        margin-bottom: 2rem;

        >li {
            display: block;
            margin-bottom: 1rem;
            margin-right: 1rem;
            padding: 1.5rem;
            width: 20%;
            min-width: 15rem;
            max-height: 15rem;
            overflow: hidden;
            border: #efefef solid 1px;
            border-radius: 5px;

            @media screen and (max-width: 900px) {
                width: auto;
            }

            >a {
                display: block;
                color: #6c9cbe;
                margin-bottom: 0.5rem;

                >h3 {
                    font-weight: bold;
                }

                &:hover {
                    opacity: 0.5;
                }
            }

            >p {
                display: block;
            }
        }
    }
}